body {
  background: url("../public/images/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  width: 100%;

}

#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

.location-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px 30px;
}

.location-card {
  border-radius: 360%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("../public/images/location2.PNG");
  background-color: rgb(2, 120, 120);
  color: white;
  padding: 2px 14px;
  height: 200px;
  width: 14%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: solid black 2px;
}

.location-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
h2 {
  position: relative;
  top: 27%;
  left: 1%;
}

.location-pokemon-card {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  position: relative;
  margin: 10px;
  display: grid;
  justify-items: center;
}

.pokemon-name {
  font: 800 40px Arial;
  fill: rgb(255, 255, 255);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.pokemon-image {
  /* image-rendering: pixelated; */
  height: 200px;
  width: 200px;
}

.battle-location-pokemon {
  border-radius: 100%;
  width: 20%;
  height: 20%;
  position: relative;
  /* background-color: aquamarine;
  animation-name: location_pokemon;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

.user-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px 30px;
}

/* @keyframes location_pokemon {
  0%   {background-color:red; left:0px;}
  25%  {background-color:yellow; left:100px;}
  50%  {background-color:blue; left:200px; }
  75%  {background-color:greenyellow; left:100px; }
  100% {background-color:red; left:0px;}
} */

.battle-user-chosen-pokemon {
  border-radius: 100%;
  width: 20%;
  height: 20%;
  position: relative;
  /* background-color: aqua;
  animation-name: user_pokemon;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

/* @keyframes user_pokemon {
  0%   {background-color:yellow; left:0px;}
  25%  {background-color:fuchsia; left:100px;}
  50%  {background-color:greenyellow; left:200px; }
  75%  {background-color:deeppink; left:100px; }
  100% {background-color:turquoise; left:0px;}
} */